@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
    background-color: darkslateblue;
    height: 100%;
  }

  a {
    all: unset;
    cursor: pointer;
  }